@using webBookingSolution.ViewModels.System
@using System.Security.Claims
@model RegisterRequest

@{
    Layout = null;
}

<form asp-action="CreateEmployee" enctype="multipart/form-data" method="post">
    <h3 class="page-header">Thông tin cá nhân</h3>
    <div style="display: flex;">
        <div class="form-group" style="width: 49%; margin-right: 2%">
            <label style="margin-left: 1%;">Họ<span class="text-danger"> *</span></label>
            <input class="form-control" type="text" asp-for="FirstName" value="@User.FindFirst(ClaimTypes.Surname)?.Value" placeholder="Họ" required
                   oninvalid="this.setCustomValidity('Vui lòng nhập họ')"
                   oninput="this.setCustomValidity('')" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group" style="width: 49%;">
            <label style="margin-left: 1%;">Tên<span class="text-danger"> *</span></label>
            <input class="form-control" type="text" asp-for="LastName" value="@User.FindFirst(ClaimTypes.GivenName)?.Value" placeholder="Tên" required
                   oninvalid="this.setCustomValidity('Vui lòng nhập tên')"
                   oninput="this.setCustomValidity('')" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div style="display: flex;">
        <div class="form-group" style="width: 49%; margin-right: 2%;">
            <label style="margin-left: 1%;">Ngày sinh<span class="text-danger"> *</span></label>
            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" asp-for="DOB" value="@User.FindFirst(ClaimTypes.DateOfBirth)?.Value" placeholder="Ngày sinh" readonly />
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
        <div class="form-group" style="width: 49%;">
            <label style="margin-left: 1%;">Số điện thoại<span class="text-danger"> *</span></label>
            <input class="form-control" type="text" asp-for="PhoneNumber" value="@User.FindFirst(ClaimTypes.MobilePhone)?.Value" placeholder="Số điện thoại" required
                   oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')"
                   oninput="this.setCustomValidity('')" />

            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Hình ảnh<span class="text-danger"> *</span></label>
        <input type="file" class="input-img" asp-for="Image" value="https://graph.facebook.com/@User.FindFirstValue(ClaimTypes.NameIdentifier)/picture?type=large" id="image_upload" />
        <label class="instead-img" for="image_upload">
            <img class="image_preview_container" src="https://graph.facebook.com/@User.FindFirstValue(ClaimTypes.NameIdentifier)/picture?type=large" alt="preview image" />
        </label>
    </div>
    <div style="display: flex;">
        <div class="form-group" style="width: 49%; margin-right: 2%">
            <label style="margin-left: 1%;">Email<span class="text-danger"> *</span></label>
            <input class="form-control" type="text" asp-for="Email" value="@User.FindFirst(ClaimTypes.Email)?.Value" placeholder="Email" required
                   oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                   oninput="this.setCustomValidity('')" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group" style="width: 49%;">
            <label style="margin-left: 1%;">Địa chỉ<span class="text-danger"> *</span></label>
            <input class="form-control" type="text" asp-for="Address" value="@User.FindFirst(ClaimTypes.StreetAddress)?.Value" placeholder="Địa chỉ" required
                   oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ')"
                   oninput="this.setCustomValidity('')" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="AccountId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <input type="hidden" asp-for="AccountId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <input type="hidden" asp-for="AccountId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <button class="btn btn-primary" disabled style="margin: 0 44%;" type="submit">Đăng ký</button>
</form>

