@using webBookingSolution.ViewModels.Catalog.Menus
@model List<MenuViewModel>

@{
    Layout = null;
}

<h1 class="h3 mb-2 text-gray-800">Quản lý thực đơn</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3" style="display: flex;">
        <h6 class="m-0 font-weight-bold text-primary" style="width: 50%; padding-top: 8px;">Danh sách thực đơn</h6>
        <div style="width: 50%;">
            <a href="create" class="button-them">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Thêm
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tên thực đơn</th>
                        <th class="text-center" style="width: 0 !important">Nội dung</th>
                        <th class="text-center">Hình ảnh</th>
                        <th class="text-center">Giá tiền</th>
                        <th class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @foreach (var item in Model)
                    {
                        string price = item.Price.ToString("#,###");
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="text-center minimize">@Html.Raw(item.Content)</td>
                            <td class="text-center"><img class="admin-image" src="@item.Image" alt="@item.Image" /></td>
                            <td class="text-center">@Html.DisplayFor(modelItem => price)</td>
                            <td class="text-center" style="width: 15%;">
                                <a class="btn btn-light" title="Sửa" href="/Menu/Update/@item.Id">
                                    <i class="fa fa-pencil" style="color: #0094cf"></i>
                                </a>
                                <button class="btn btn-light" id="btnDelete" onclick="Delele(@item.Id);" title="Xóa" type="submit">
                                    <i class="fa fa-trash-o" style="color: red"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
