@using webBookingSolution.ViewModels.Catalog.Books
@using System.Security.Claims
@model BookCreateRequest

@{
    ViewData["Title"] = "Party Booking - Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header booking">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Đặt sảnh tiệc</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="content">
    <div class="container">
        <div class="row ">
            <div class="tour-booking-form">
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">@Html.ValidationSummary()</div>
                }
                <form asp-action="Booking" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <h4 class="tour-form-title">Sảnh tiệc</h4>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="control-label">Chọn sảnh tiệc<span class="text-danger"> *</span></label>
                                <select class="form-control" name="HallId" asp-items="@ViewBag.Halls">
                                    <option value="0" disabled selected>Vui lòng chọn sảnh tiệc</option>
                                </select>
                                <span asp-validation-for="HallId" class="text-danger"></span>
                            </div>
                            <div class="form-group service-checkbox">
                                <label>Tổ chức buổi:<span class="text-danger"> *</span></label><br />
                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Season, "Trưa", new { id = "rd1" })
                                    <label class="form-check-label" for="rd1">Trưa</label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(x => x.Season, "Tối", new { id = "rd2" })
                                    <label class="form-check-label" for="rd2">Tối</label>
                                </div>
                            </div>
                            <br />
                            <div class="flex">
                                <div class="form-group table">
                                    <label>Số bàn<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="number" asp-for="NumberTables" min="100" placeholder="Nhập số bàn" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập số bàn')"
                                           oninput="this.setCustomValidity('')" />
                                    <span asp-validation-for="NumberTables" class="text-danger"></span>
                                </div>
                                <div class="form-group org_date">
                                    <label>Ngày tổ chức<span class="text-danger"> *</span></label>
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" asp-for="OrganizationDate" placeholder="Ngày tổ chức" readonly />
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <h4 class="tour-form-title">Chọn thực đơn<span class="text-danger"> *</span></h4>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <select class="form-control" name="MenuId" asp-items="@ViewBag.Menus">
                                    <option value="0" disabled selected>Vui lòng chọn thực đơn</option>
                                </select>
                                <span asp-validation-for="MenuId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <h4 class="tour-form-title">Chọn dịch vụ</h4>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group custom-checkbox">
                                @for (int i = 0; i < Model.Service.Count; i++)
                                {
                                    <label class="checkbox-inline">
                                        @Html.HiddenFor(x => Model.Service[i].Id)
                                        @Html.CheckBoxFor(it => Model.Service[i].IsChecked, new { id = @Model.Service[i].Id })
                                        <label for="@Model.Service[i].Id"><span></span>@Html.DisplayFor(it => Model.Service[i].Name)</label>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" id="customer">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <h4 class="tour-form-title">Khách hàng</h4>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div style="display: flex;">
                                <div class="form-group" style="width: 49%; margin-right: 2%">
                                    <label style="margin-left: 1%;">Họ<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" asp-for="customerCreateRequest.FirstName" value="@User.FindFirst(ClaimTypes.Surname)?.Value" placeholder="Họ" id="customerInput1" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập họ')"
                                           oninput="this.setCustomValidity('')" />
                                    <span id="customerValidate" asp-validation-for="customerCreateRequest.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="width: 49%;">
                                    <label style="margin-left: 1%;">Tên<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" asp-for="customerCreateRequest.LastName"  value="@User.FindFirst(ClaimTypes.GivenName)?.Value" placeholder="Tên" id="customerInput2" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập tên')"
                                           oninput="this.setCustomValidity('')" />
                                    <span id="customerValidate" asp-validation-for="customerCreateRequest.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div class="form-group" style="width: 49%; margin-right: 2%;">
                                    <label style="margin-left: 1%;">Ngày sinh<span class="text-danger"> *</span></label>
                                    <div class="input-group date" id="datepickerDOB" style="cursor: pointer;">
                                        <input style="cursor: pointer;" type="text" class="form-control" asp-for="customerCreateRequest.DOB" id="customerInput6" placeholder="Ngày sinh" readonly />
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <span style="width: 100%" id="customerValidate" asp-validation-for="customerCreateRequest.DOB" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="width: 49%;">
                                    <label style="margin-left: 1%;">Số điện thoại<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" asp-for="customerCreateRequest.PhoneNumber" placeholder="Số điện thoại" id="customerInput3" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')"
                                           oninput="this.setCustomValidity('')" />
                                    <span id="customerValidate" asp-validation-for="customerCreateRequest.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh<span class="text-danger"> *</span></label>
                                <input type="file" class="input-img" asp-for="customerCreateRequest.Image" id="image_upload" value="https://graph.facebook.com/@User.FindFirstValue(ClaimTypes.NameIdentifier)/picture?type=large" required />
                                <label class="instead-img" for="image_upload">
                                    @if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role)?.Value == null)
                                    {
                                        <img class="image_preview_container" src="https://graph.facebook.com/@User.FindFirstValue(ClaimTypes.NameIdentifier)/picture?type=large" alt="preview image" />
                                    }
                                    @if (User.Identity.IsAuthenticated == false)
                                    {
                                        <img class="image_preview_container" src="~/images/preview.jpg" alt="preview image" />
                                    }
                                    @if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role)?.Value == "1")
                                    {
                                        <img class="image_preview_container" src="~/images/preview.jpg" alt="preview image" />
                                    }
                                </label>
                            </div>
                            <div style="display: flex;">
                                <div class="form-group" style="width: 49%; margin-right: 2%">
                                    <label style="margin-left: 1%;">Email<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" asp-for="customerCreateRequest.Email" value="@User.FindFirst(ClaimTypes.Email)?.Value" placeholder="Email" id="customerInput4" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                                           oninput="this.setCustomValidity('')" />
                                    <span id="customerValidate" asp-validation-for="customerCreateRequest.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="width: 49%;">
                                    <label style="margin-left: 1%;">Địa chỉ<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" asp-for="customerCreateRequest.Address" placeholder="Địa chỉ" id="customerInput5" required
                                           oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ')"
                                           oninput="this.setCustomValidity('')" />
                                    <span id="customerValidate" asp-validation-for="customerCreateRequest.Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <button type="submit" style="margin: 20px 41% 0 42%;" class="btn btn-primary">Đặt sảnh tiệc</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('input:radio:first').attr('checked', true);

        $('#OrganizationDate').val("");

        $('#NumberTables').val(100);

        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 50000);

        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                changeYear: true,
                changeMonth: true,
                yearRange: "-100:+20",
                startDate: new Date()
            });
            $("#datepickerDOB").datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                changeYear: true,
                changeMonth: true,
                yearRange: "-100:+20"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var True = true;
            var False = false
            if (@User.Identity.IsAuthenticated === True) {
                if (@User.FindFirst(ClaimTypes.Role)?.Value === 0) {
                    $("#customer").hide();
                    for (var i = 1; i <= 6; i++) {
                        $("#customerInput" + i).removeAttr('required');
                    };
                    $("#image_upload").removeAttr('required');
                    document.getElementById('customerValidate').style.display = 'none';

                    var year = new Date().getFullYear() - 19;
                    var dob = new Date();
                    dob.setFullYear(year);
                    $('#customerInput6').val($.datepicker.formatDate('yy-mm-dd', dob));
                    $('#customerInput3').val('0000000000');
                }
            }
        });
    </script>
}