@using webBookingSolution.ViewModels.Common;
@using webBookingSolution.ViewModels.Catalog.Services;
@model PagedResult<ServiceViewModel>

@{
    ViewData["Title"] = "Service List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header service-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Dịch vụ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="destination-block">
                    <div class="desti-img">
                        <img src="@item.Image" alt="@item.Image" />
                        <a href="#" class="desti-title">@item.Name</a>
                        <div class="overlay"></div>
                        <div class="text">
                            <span class="item-content">@Html.Raw(item.Description)</span>
                            <p class="item-price">@item.Price.ToString("#,###")<small> đồng</small></p>
                            <a href="/Page/ServiceDetail/@item.Id" class="btn-link">Xem ngay<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @await Component.InvokeAsync("Pager", Model)
</div>

@section scripts{
    <script>
        $("#search").attr('data-target', "#searchService");
    </script>
}


