@using webBookingSolution.ViewModels.Catalog.Users
@model List<UserViewModel>

@{
    Layout = null;
}

<h1 class="h3 mb-2 text-gray-800">Quản lý tài khoản</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3" style="display: flex;">
        <h6 class="m-0 font-weight-bold text-primary" style="width: 50%; padding-top: 8px;">Danh sách tài khoản</h6>
        <div style="width: 50%;">
            <a href="/User/Create" class="button-them">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Thêm tài khoản
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Tên tài khoản</th>
                        <th class="text-center">Hình ảnh</th>
                        <th class="text-center">Tên hiển thị</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Vai trò</th>
                        <th class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="text-center"><img class="user-admin-image" src="@item.ImagePath" alt="@item.DisplayName" /></td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.DisplayName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                            <td class="text-center">
                                @if (item.Roles == 1)
                                {<p>Admin</p>}
                                @if (item.Roles == 0)
                                {<p>Thường</p>}
                            </td>
                            <td class="text-center" style="width: 15%;">
                                <a class="btn btn-light" title="Đổi mật khẩu" href="/User/ChangePassword/@item.Id">
                                    <i class="fa fa-key" style="color: yellow;"></i>
                                </a>
                                <button class="btn btn-light" id="btnDelete" onclick="Delele(@item.Id);" title="Xóa" type="submit">
                                    <i class="fa fa-trash-o" style="color: red"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
